USE [TestVerisiOlusturDB]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 21.08.2021 08:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Sehir] [nvarchar](50) NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepet]    Script Date: 21.08.2021 08:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NULL,
 CONSTRAINT [PK_Sepet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunSepet]    Script Date: 21.08.2021 08:52:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunSepet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SepetId] [int] NULL,
	[Tutar] [float] NULL,
	[Aciklama] [nvarchar](50) NULL,
 CONSTRAINT [PK_UrunSepet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([Id], [Ad], [Soyad], [Sehir]) VALUES (1, N'LVMIP', N'SAFAT', N'İstanbul')
INSERT [dbo].[Musteri] ([Id], [Ad], [Soyad], [Sehir]) VALUES (2, N'IBVTO', N'PMDDT', N'İzmir')
INSERT [dbo].[Musteri] ([Id], [Ad], [Soyad], [Sehir]) VALUES (3, N'BMABN', N'YJCBD', N'İzmir')
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[Sepet] ON 

INSERT [dbo].[Sepet] ([Id], [MusteriId]) VALUES (1, 2)
INSERT [dbo].[Sepet] ([Id], [MusteriId]) VALUES (2, 2)
INSERT [dbo].[Sepet] ([Id], [MusteriId]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[Sepet] OFF
GO
SET IDENTITY_INSERT [dbo].[UrunSepet] ON 

INSERT [dbo].[UrunSepet] ([Id], [SepetId], [Tutar], [Aciklama]) VALUES (1, 14, 365, N'UCFVDXENWEEKAHO')
INSERT [dbo].[UrunSepet] ([Id], [SepetId], [Tutar], [Aciklama]) VALUES (2, 14, 554, N'COVXXEMBXFATCQL')
INSERT [dbo].[UrunSepet] ([Id], [SepetId], [Tutar], [Aciklama]) VALUES (3, 14, 508, N'NHDWUUMORDXNWJF')
GO
SET IDENTITY_INSERT [dbo].[UrunSepet] OFF
GO
